$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "compass/reset";

$backColor: #CBCBCB;
$radius: 15px;

html {
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    padding: 30px;
}

body {
    height: 100%;
    background: linear-gradient(rgb(0, 216, 255), rgb(0, 255, 158));
    & > div {
        height: 100%;
    }
}

main {
    display: flex;
    width: 80%;
    min-width: 1200px;
    margin: 0 auto;
    height: 100%;
    border-radius: $radius;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);

    .index, .list, .details {
        display: flex;
        flex-direction: column;
    }

    .index {
        width: 350px;
        border-radius: $radius 0 0 $radius;
        background-color: lighten($backColor, 10%);
        header {
            background-color: $backColor;
            border-radius: $radius 0 0 0;
        }
        .td-container {
            padding: 0;
        }
    }
    .list {
        width: 350px;
        background-color: lighten($backColor, 15%);
        header {
            background-color: lighten($backColor, 10%);
        }
        .td-container {
            padding: 0;
        }
    }
    .details {
        flex-grow: 1;
        border-radius: 0 $radius $radius 0;
        background-color: lighten($backColor, 20%);
        header {
            background-color: lighten($backColor, 15%);
            border-radius: 0 $radius 0 0;
        }
        #details_ctn {
            flex-grow: 1;
        }
    }
}

header {
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-weight: bold;
    flex-shrink: 0;
    h2 {
        float: left;
    }
    span {
        float: right;
        padding-top: 12px;
        cursor: pointer;
    }
}

.td-container {
    display: flex;
    flex-direction: column;
    width: auto;
    flex-grow: 1;
    padding: 15px;
    overflow-y: hidden;

    .btn-group {
        display: flex;
        flex-flow: row-reverse;
        .ok {
            border-radius: 3px 0 0 3px !important;
        }
        .cancel {
            border-radius: 0 3px 3px 0 !important;
        }
    }
    .lists {
        flex-grow: 1;
        border-radius: 0 0 0 $radius;
        overflow-y: scroll;
        li {
            &:nth-of-type(odd) {
                background-color: lighten($backColor, 20%);
            }
            .main-title, .sub-title {
                margin-left: 10px;
                height: 30px;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.428571429;
                color: #555555;
                background-color: #fff;
                background-image: none;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
            }
            .main-title {
                position: relative;
                bottom: 1px;
            }
            position: relative;
            padding: 15px;
            height: 90px;
            border-bottom: 1px solid lighten($backColor, 5%);
            cursor: pointer;
            h3.list-item {
                font-size: 1.1rem;
                font-weight: bold;
                margin-bottom: 10px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            h4.list-item {
                font-size: .9rem;
                margin-bottom: 8px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            p.list-item {
                font-size: .8rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            img.index-item {
                float: left;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid grey;
            }
            h3.index-item {
                height: 22px;
                margin: 5px 0 15px 70px;
                width: 135px;
                font-size: 1.2rem;
                font-weight: bold;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                box-sizing: border-box;
            }
            h4.index-item {
                height: 19px;
                margin: 0px 0 15px 70px;
                font-size: 1rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            span.index-item.num {
                position: absolute;
                right: 15px;
                top: 20px;
                display: block;
                height: 20px;
                width: 20px;
                background-color: red;
                color: #fff;
                border-radius: 50%;
                line-height: 20px;
                text-align: center;
                font-size: 0.7rem;
            }
            .btn.ok {
                position: absolute;
                width: 46px;
                top: 15px;
                right: 15px;
                border-radius: 6px 6px 0 0;
            }
            .btn.cancel {
                position: absolute;
                width: 46px;
                bottom: 15px;
                right: 15px;
                border-radius: 0 0 6px 6px;
            }
        }
    }
}

textarea {
    resize: none;
    margin-bottom: 15px;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #F9F9F9;
    opacity: 1;
}

.form-group.my-form-group {
    display: flex;
    align-items: stretch;
    div {
        width: 50px;
        border-radius: 4px 0 0 4px;
        background-color: #eee;
        line-height: 32px;
        text-align: center;
        box-sizing: border-box;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-left: 1px solid #ccc;
    }
    .form-control {
        border-radius: 0 4px 4px 0;
        flex-grow: 1;
        width: initial;
    }
}

.form-group.my-form-group.time {
    .form-control:first-of-type {
        border-radius: 0;
        border-right: none;
    }
    div:last-of-type {
        border-radius: 0;
    }
}
