/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 12, ../sass/screen.scss */
body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif;
  background-color: #eeeeee;
  padding: 15px;
}
/* line 16, ../sass/screen.scss */
body div[ng-view=""] {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
/* line 22, ../sass/screen.scss */
body div[ng-view=""] header {
  position: relative;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  background-color: #cccccc;
}
/* line 30, ../sass/screen.scss */
body div[ng-view=""] main {
  display: flex;
  flex-grow: 1;
}
/* line 33, ../sass/screen.scss */
body div[ng-view=""] main .category-box,
body div[ng-view=""] main .list-box {
  position: relative;
  flex-basis: 320px;
  box-sizing: border-box;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}
/* line 40, ../sass/screen.scss */
body div[ng-view=""] main .category-box .category-box-addbtn,
body div[ng-view=""] main .category-box .list-box-addbtn,
body div[ng-view=""] main .list-box .category-box-addbtn,
body div[ng-view=""] main .list-box .list-box-addbtn {
  position: absolute;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 15px;
  line-height: 50px;
  border-top: 1px solid #cccccc;
  background: #eeeeee;
  cursor: pointer;
}
/* line 53, ../sass/screen.scss */
body div[ng-view=""] main .category-box .category-box-addbox,
body div[ng-view=""] main .list-box .category-box-addbox {
  padding: 0 15px;
  position: relative;
  border-bottom: 1px solid #cccccc;
  height: 50px;
  line-height: 50px;
}
/* line 59, ../sass/screen.scss */
body div[ng-view=""] main .category-box .category-box-addbox input[type="text"],
body div[ng-view=""] main .list-box .category-box-addbox input[type="text"] {
  position: absolute;
  top: 8px;
  width: 220px;
}
/* line 64, ../sass/screen.scss */
body div[ng-view=""] main .category-box .category-box-addbox input[type="submit"],
body div[ng-view=""] main .list-box .category-box-addbox input[type="submit"] {
  position: absolute;
  top: 8px;
  right: 15px;
}
/* line 71, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul li,
body div[ng-view=""] main .list-box ul li {
  position: relative;
  padding-left: 20px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
}
/* line 76, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul li:hover,
body div[ng-view=""] main .list-box ul li:hover {
  background-color: #E7E7E7;
}
/* line 77, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul li:hover .del,
body div[ng-view=""] main .list-box ul li:hover .del {
  display: block;
}
/* line 83, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .category-box-item,
body div[ng-view=""] main .list-box ul .category-box-item {
  position: relative;
  height: 50px;
  line-height: 50px;
}
/* line 87, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .category-box-item .del,
body div[ng-view=""] main .list-box ul .category-box-item .del {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
  width: 20px;
  height: 20px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold;
  color: #ffffff;
  background: #cbcbcb;
}
/* line 103, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .list-box-item,
body div[ng-view=""] main .list-box ul .list-box-item {
  height: 80px;
}
/* line 105, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .list-box-item .list-box-item-name,
body div[ng-view=""] main .list-box ul .list-box-item .list-box-item-name {
  position: relative;
  top: 20px;
}
/* line 109, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .list-box-item .list-box-item-endtime,
body div[ng-view=""] main .list-box ul .list-box-item .list-box-item-endtime {
  position: relative;
  top: 30px;
}
/* line 113, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .list-box-item .glyphicon-flag,
body div[ng-view=""] main .list-box ul .list-box-item .glyphicon-flag {
  position: absolute;
  right: 20px;
  top: 20px;
}
/* line 117, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .list-box-item .glyphicon-flag.high,
body div[ng-view=""] main .list-box ul .list-box-item .glyphicon-flag.high {
  color: red;
}
/* line 120, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .list-box-item .glyphicon-flag.middle,
body div[ng-view=""] main .list-box ul .list-box-item .glyphicon-flag.middle {
  color: orange;
}
/* line 123, ../sass/screen.scss */
body div[ng-view=""] main .category-box ul .list-box-item .glyphicon-flag.low,
body div[ng-view=""] main .list-box ul .list-box-item .glyphicon-flag.low {
  color: green;
}
/* line 130, ../sass/screen.scss */
body div[ng-view=""] main .task-box {
  flex-grow: 1;
  box-sizing: border-box;
  border-left: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}
/* line 137, ../sass/screen.scss */
body div[ng-view=""] main .category-box,
body div[ng-view=""] main .list-box,
body div[ng-view=""] main .task-box {
  background-color: #ffffff;
}
/* line 141, ../sass/screen.scss */
body div[ng-view=""] main .category-box header,
body div[ng-view=""] main .list-box header,
body div[ng-view=""] main .task-box header {
  height: 45px;
  line-height: 45px;
  background-color: #dfdfdf;
}
/* line 145, ../sass/screen.scss */
body div[ng-view=""] main .category-box header button,
body div[ng-view=""] main .list-box header button,
body div[ng-view=""] main .task-box header button {
  position: relative;
  top: -1px;
}
/* line 152, ../sass/screen.scss */
body div[ng-view=""] main .task-box form {
  padding: 20px;
}
/* line 155, ../sass/screen.scss */
body div[ng-view=""] main .task-box form .form-group label {
  margin-bottom: 10px;
}
/* line 159, ../sass/screen.scss */
body div[ng-view=""] main .task-box form .form-group .radio-inline {
  position: relative;
  left: 320px;
}
/* line 164, ../sass/screen.scss */
body div[ng-view=""] main .task-box form .form-group .radio-inline span {
  position: relative;
  top: 5px;
}
/* line 169, ../sass/screen.scss */
body div[ng-view=""] main .task-box form .form-group #taskcontent {
  resize: none;
  height: 200px;
}
