<div class="details" ng-controller="DetailsCtrl">
    <header>
        <h2>任务详情</h2>
        <span class="glyphicon glyphicon-edit" ng-click="editTask()"></span>
    </header>
    <div class="td-container" style="overflow: hidden">
        <div class="form-group my-form-group">
            <div>主题</div>
            <input type="text" class="form-control" ng-readonly="detailsStats" ng-model="nowTask.taskName">
        </div>
        <div class="form-group my-form-group time">
            <div>开始</div>
            <input type="text" class="form-control" ng-readonly="detailsStats" ng-model="nowTask.taskTimeStart">

            <div>结束</div>
            <input type="text" class="form-control" ng-readonly="detailsStats" ng-model="nowTask.taskTimeEnd">
        </div>
        <textarea class="form-control" id="details_ctn" ng-readonly="detailsStats" ng-model="nowTask.taskContent"></textarea>

        <div class="btn-group">
            <button type="button" class="btn btn-info cancel">取消</button>
            <button type="button" class="btn btn-primary ok" ng-click="saveTask()">确定</button>
        </div>

    </div>
</div>
