<div class="index" ng-controller="IndexCtrl">
    <header>
        <h2>任务首页</h2>
        <span class="glyphicon glyphicon-plus" ng-click="addTaskClass($event)"></span>
    </header>
    <div class="td-container">
        <ul class="lists">
            <li class="index-items add" ng-show="addTaskClassBoxDisplay">
                <img class="index-item" src="images/12.jpg" alt=""/>

                <form name="myForm">
                <input class="main-title" ng-model="addTaskClassPrep.taskClassMainTitle" type="text" required>
                <input class="sub-title" ng-model="addTaskClassPrep.taskClassSubTitle" type="text" required>
                <input type="submit" class="btn btn-primary btn-sm ok" ng-click="addTaskClassOK($event)" value="确定" ng-disabled="!myForm.$valid">
                <button type="button" class="btn btn-info btn-sm cancel" ng-click="addTaskClassCancel($event)">取消
                </button>
                </form>
            </li>
            <li class="index-items" ng-repeat="item in taskClass" ng-click="chooseTaskClass($event)">
                <img class="index-item" ng-src="images/{{item.taskClassId}}.jpg" alt=""/>

                <h3 class="index-item">{{item.taskClassMainTitle}}</h3>
                <h4 class="index-item">{{item.taskClassSubTitle}}</h4>
                <span class="index-item num" ng-show="item.taskClassNum > 0">{{item.taskClassNum}}</span>
            </li>
        </ul>
    </div>
</div>
